/* Gallery Layout */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Product Card */
.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
  background: #fff;
}

.card:hover {
  transform: scale(1.03);
}

/* Product Image */
.image {
  width: 100%;
  height: 300px; /* full length */
  object-fit: contain;
  border-radius: 10px;
}

/* Product Info */
.name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px;
}

.price {
  font-size: 16px;
  color: #0e721e;
  margin-bottom: 10px;
}

/* Buy Button */
.buyBtn {
  background: #ff9900;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.buyBtn:hover {
  background: #e68a00;
}

/* Skeleton Loader */
.skeletonCard {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.skeleton {
  background: linear-gradient(90deg, #eee 25%, #ddd 50%, #eee 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 6px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skeletonImage {
  width: 100%;
  height: 300px;
}

.skeletonTitle {
  width: 70%;
  height: 20px;
  margin: 0 auto;
}

.skeletonPrice {
  width: 40%;
  height: 18px;
  margin: 0 auto;
}

.skeletonBtn {
  width: 60%;
  height: 35px;
  margin: 0 auto;
}

.searchContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
}

.searchInput {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.searchBtn {
  padding: 10px 16px;
  background: #0070f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.searchBtn:hover {
  background: #005bb5;
}


.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.searchBar {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.sortSelect {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
