@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Kanit:wght@100;300&display=swap');

/* Apply font styles */
/* body {
    font-family: 'Roboto', sans-serif;
  } */


/* font-family: 'Agdasima', sans-serif;
font-family: 'Kanit', sans-serif; */

.formu {
    color:aquamarine;
    font-size: large;
}

.inputbox{
    font-family: 'Kanit', sans-serif;;
    font-size: medium;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(230, 220, 245, 0.2);
    /* border-color : 0px solid rgba(226, 14, 191, 0.938); */
}